html,
body {
	height: 100%;
	margin: 3px;
	padding: 3px;
}

#powerChart,
#tempChart,
#humChart {
	width: 100%;
	height: calc((100vh - 8px) / 3 - 4px);
	margin-top: 1%;
}

input[type="radio"]:checked::before {
	display: block;
	width: 8px;
	height: 8px;
}

button {
	background-color: #7986cb;
	color: rgb(255, 255, 255);
	border: none;
	padding: 10px 20px;
	border-radius: 4px;
	cursor: pointer;
}

button:hover {
	opacity: 0.8;
}

#getDataButton {
	margin-top: 1%;
}

#daypicker,
#datepickerRangeStart,
#datepickerRangeEnd {
	margin-top: 1%;
}

#powerChart,
#tempChart, 
#humChart {
	height: 300px;
}