<!DOCTYPE html>
<html>
<head>
    <title>SunTracker</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{url_for('static', filename='app.js')}}" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://kit.fontawesome.com/dcdea7f555.js" crossorigin="anonymous"></script>

</head>
<body>

    <div class="container">
        <div class="chart-container">
            <canvas id="polarChart" width="300em" height="300em"></canvas>
            <canvas id="voltageChart" width="300em" height="300em" aria-label="voltLabel" role="img"></canvas>
        </div>
        <div class="middle-content">
            <button class="statistics-button" id="stat-button">See statistics</button>
            <div class="bottom-container">
                <div class="th_data">
                    <div id="temp">
                        <span id="temperature">0°C</span>
                        <img id="th_img" src="{{url_for('static', filename='images/thermo.svg')}}" alt="Temperature SVG"/>
                    </div>
                    <div id="hum">
                        <img id="th_img" src="{{url_for('static', filename='images/humid.svg')}}" alt="Humidity SVG"/>
                        <span id="humidity">0%</span>
                    </div>
                </div>
            </div>
            <canvas id="wattageChart" width="300em" height="300em" aria-label="wattLabel" role="img"></canvas>
        </div>
        <div class="chart-container">
            <canvas id="cartesianChart" width="300em" height="300em"></canvas>
            <canvas id="amperageChart" width="300em" height="300em" aria-label="ampLabel" role="img"></canvas>
        </div>
    </div>
    
    <script>
        var newData;
        $(document).ready(function() {
            initialize();

            setInterval(function() {
                $.getJSON('/get_data', function(data) {
                    newData = JSON.parse(data['data']);
                    var ldrs = [newData.lul, newData.lur, newData.ldl, newData.ldr];
                    updatePolarAreaChart(ldrs);
                    updateTempHum(newData.temp, newData.hum);
                    updateCartesianChart(newData.anglex, newData.angley);
                    updateCurrentCharts(newData.busVoltage_V, newData.current_mA, newData.power_mW);
                });
            }, 1000);
        });

        document.getElementById('stat-button').addEventListener('click', function() {
            window.location.href = "{{url_for('statistics')}}";
        });
        
    </script>
    
</body>
</html>